name: Analyse

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: HTML Preview
        id: html_preview
        uses: pavi2410/html-preview-action@v2
        with:
          html_file: "index.html"

      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: "Build & Test"
